# Data Exploration
### Data transformation

In [127]:
import pandas as pd

In [128]:
dataset = pd.read_csv("data/raw/ml-100k/u.data", sep='\t', header=None)
dataset.rename(columns={0: 'uid', 1: 'iid', 2: 'rating', 3: 'timestamp'}, inplace=True)

In [129]:
dataset.head(1)

   uid  iid  rating  timestamp
0  196  242       3  881250949

In [130]:
movies_df = pd.read_csv(f'data/raw/ml-100k/u.item',
                        sep='|', header=None, encoding='ISO-8859-1')
names=["id", 'movie_name', 'date', 'drop', "url",]
movies_df.rename(columns={0: 'id', 1: 'movie_name', 2: 'date', 3: 'drop', 4:"url"}, inplace=True)
movies_df.drop(columns=['drop'], inplace=True)
movies_df.head(1)

,id,movie_name,date,url,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [131]:
genre_df = pd.read_csv(f'data/raw/ml-100k/u.genre',
                        sep='|', header=None, encoding='ISO-8859-1')
genre_df.rename(columns={0: 'genre', 1: 'id', }, inplace=True)

In [132]:
genre_df.head(1)

     genre  id
0  unknown   0

In [ ]:
df_temp = pd.DataFrame(columns=["genre"])

for i in range(5, 24):
    movies_df.loc[movies_df[i] == 1, i] = genre_df.iloc[i-5:i-4, [0]].iloc[0]["genre"]
    movies_df.loc[movies_df[i] == 0, i] = None

In [134]:
movies_df.head(1)

,id,movie_name,date,url,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,None,None,None,Animation,Children's,Comedy,...,None,None,None,None,None,None,None,None,None,None

In [135]:
genre_df.iloc[6-5:7-5, [0]].iloc[0]["genre"]

'Action'

In [136]:
user_df = pd.read_csv(f'data/raw/ml-100k/u.user',
                        sep='|', header=None, encoding='ISO-8859-1')
user_df.rename(columns={0: 'id', 1: 'age', 2: 'gender', 3: 'occupation', 4:"zip"}, inplace=True)
user_df.head(1)

   id  age gender  occupation    zip
0   1   24      M  technician  85711

## Merge datasets into one

In [139]:
combined_ratings_df = dataset.merge(movies_df, left_on='iid', right_on="id") #, user_df, on='user_id')
combined_ratings_df.drop(columns=["id"], inplace=True)


combined_ratings_df = combined_ratings_df.merge(user_df, left_on='uid', right_on="id")
combined_ratings_df.drop(columns=["id"], inplace=True)
combined_ratings_df.head(1)

,uid,iid,rating,timestamp,movie_name,date,url,5,6,7,...,18,19,20,21,22,23,age,gender,occupation,zip
0,196,242,3,881250949,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),None,None,None,...,None,None,None,None,None,None,49,M,writer,55105

In [138]:
combined_ratings_df.to_csv("merged_dataset.csv")